*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #000000;
  --div-color: #3D0000;
  --text-color: #950101;
  --h1-color:#FF0000;
}


body{
  background: var(--bg-color);
  
}

